<div class="relative inline-block text-5xl font-black text-black">
  <span class="relative z-10">WELCOME TO MY DASHBOARD</span>

  <!-- Sparkles Floating -->
  <span
    class="absolute top-[-10px] left-[20px] text-pink-400 text-xl animate-sparkleFloat"
  >✦</span>

  <span
    class="absolute top-[10px] left-[100px] text-purple-500 text-lg animate-sparkleFloat"
    style="animation-delay: 0.5s"
  >✧</span>

  <span
    class="absolute top-[-5px] left-[160px] text-indigo-400 text-sm animate-sparkleFloat"
    style="animation-delay: 1s"
  >✦</span>

  <span
    class="absolute top-[5px] left-[50px] text-pink-300 text-md animate-sparkleFloat"
    style="animation-delay: 1.5s"
  >✧</span>


  <span
  class="absolute top-[-10px] right-[10px] text-pink-400 text-xl animate-sparkleFloat"
>✦</span>

<span
  class="absolute top-[10px] right-[90px] text-purple-500 text-lg animate-sparkleFloat"
  style="animation-delay: 0.5s"
>✧</span>

<span
  class="absolute top-[-5px] right-[150px] text-indigo-400 text-sm animate-sparkleFloat"
  style="animation-delay: 1s"
>✦</span>

<span
  class="absolute top-[5px] right-[40px] text-pink-300 text-md animate-sparkleFloat"
  style="animation-delay: 1.5s"
>✧</span>

<span
  class="absolute top-[-10px] right-[60px] text-pink-400 text-xl animate-sparkleFloat"
>✦</span>

<span
  class="absolute top-[10px] right-[90px] text-purple-500 text-lg animate-sparkleFloat"
  style="animation-delay: 0.5s"
>✧</span>

<span
  class="absolute top-[-5px] right-[150px] text-indigo-400 text-sm animate-sparkleFloat"
  style="animation-delay: 1s"
>✦</span>

<span
  class="absolute top-[5px] right-[190px] text-pink-300 text-md animate-sparkleFloat"
  style="animation-delay: 1.5s"
>✧</span>
</div>
