<!-- Apply the gradient background -->
<!-- <Body class="bg-gradient-to-r from-peachLight to-peachDark"> -->
  <div class="h-screen bg-[url('/assets/images/imageBg.jpg')] bg-cover bg-center">
  <nav>
    <div class="nav-container">

      <div class="logo" data-aos="zoom-in" data-aos-duration="1000">
        <span>._AISHWARYA_DEVARAJ_.</span>
      </div>

      <div class="links">
        <div class="link" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
          <!-- <button
            type="button"
            class="text-gray-900 bg-gradient-to-r from-red-200 via-red-300 to-yellow-200 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-red-100 dark:focus:ring-red-400 font-medium rounded-lg text-lg px-5 py-2.5 text-center me-2 mb-2"
            (click)="navigateHome()"
          >
            Home
          </button> -->
          <a href="dashboard">Home</a>
        </div>
        <!-- <div class="link" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
          <a href="output">Output Page</a>
        </div> -->

        <div class="link" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
          <a href="#">About</a>
        </div>

        <div class="link" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
          <!-- <a href="myworks">My Gallery</a> -->
          <a href="#">My Gallery</a>
        </div>

        <div class="link" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500">
          <a href="home">My Project</a>
        </div>

        <div class="link contact-btn" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="600">
          <a href="mailto:Aishwarya111728@gmail.com?subject=Contact%20Request&body=Hi%20there%2C%20I%20would%20like%20to%20connect.">Contact Us</a>
        </div>
      </div>
      <i class="fa-solid fa-bars hamburg" (click)="hamburg()"></i>
    </div>
    <div class="dropdown">
      <div class="links">
        <a href="">Home</a>
        <a href="">About</a>
        <a href="">Skills</a>
        <a href="">Services</a>
        <a href="">Blogs</a>
        <a href="">Contact Us</a>
        <i class="fa-solid fa-xmark cancel" (click)="cancel()"></i>
      </div>
    </div>
  </nav>



 <!-- Circle Image -->
<div class="hidden md:flex flex-1 justify-center items-center">
  <div class="w-80 h-80 rounded-full overflow-hidden border-4 border-[#7d5200] shadow-lg">
    <img src="assets/images/main1.jpg" alt="Profile" class="w-full h-full object-cover" />
  </div>
</div>

    <!-- Text Content -->


    <div>
      <div class="">
        <div class="image" data-aos="zoom-in-right" data-aos-duration="2500">
          <img src="" alt="">
        </div>
        <div class="content">
          <h1 class = "text-center" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="800">Hey I'm <span>AISHWARYA</span></h1>
          <div class="typewriter text-center " data-aos="fade-right" data-aos-duration="1000" data-aos-delay="900">I'm a <span></span></div>
          <p class = "pl-10 pr-5" data-aos="flip-up" data-aos-duration="1000" data-aos-delay="1000">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione, perferendis quas consectetur possimus maxime consequatur cupiditate eos dolorum molestias praesentium error exercitationem rem labore illo, in dolor, odio corporis excepturi?</p>
          <div class="social-links text-center" data-aos="flip-down" data-aos-duration="1000" data-aos-delay="1200">
            <a href="#"><i class="fa-brands fa-github"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-linkedin"></i></a>
          </div>
          <div class="btn text-center" data-aos="zoom-out-left" data-aos-duration="1000" data-aos-delay="1300">
            <button
               onclick="window.open('assets/Resume/CV.pdf', '_blank')"
               class="bg-orange-500 text-white px-4 py-2 rounded hover:bg-orange-600 transition">
               View & Download CV
          </button>
          </div>
        </div>
      </div>
    </div>
  </div>



