.gallery-top .swiper-slide {
  height: fit-content;
  margin-right: 0;
}

.gallery-top .swiper-slide-active {
  transform: scale(1.1);
}

.swiper-button-prev:after,
.swiper-button-next:after {
  content: '';
}

.gallery-top .swiper-slide .swiper-box {
  opacity: 0;
  transform: scale(1);
}

.gallery-top .swiper-slide-active .swiper-box {
  transform: scale(0.9);
  opacity: 1;
}
